<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light sticky-top shadow">
    <div class="container-fluid px-4 d-flex justify-content-between align-items-center">

        <a class="navbar-brand fw-bold" href="#">
            <i class="bi bi-people-fill me-2"></i>Portal del Empleado
        </a>

        <span class="text-black">
            Bienvenido: <strong th:text="${employee.name + ' ' + employee.surname}"></strong>
        </span>

        <div class="d-flex align-items-center">
            <div sec:authorize="hasRole('ROLE_admin') or hasRole('ROLE_ADMIN')">
                <a class="btn btn-warning me-2" th:href="@{/admin/index}">
                    <i class="bi bi-speedometer2"></i> Vista Administración
                </a>
            </div>
            <form class="d-inline" method="post" th:action="@{/logout}">
                <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                <button class="btn btn-danger" type="submit">
                    <i class="bi bi-box-arrow-right"></i> Cerrar sesión
                </button>
            </form>
        </div>
    </div>
</nav>
<section class="container-fluid text-center my-5">
    <div class="row d-flex justify-content-center px-3">
        <h2>Información del Usuario</h2>
        <br>
        <table class="w-50 table table-striped table-bordered shadow">
            <thead class="table-light">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Departamento</th>
                <th>Rol</th>
                <th>Horario</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${employee.name}"></td>
                <td th:text="${employee.surname}"></td>
                <td th:text="${employee.departmentName}"></td>
                <td th:text="${employee.rolType}"></td>
                <td th:text="${employee.workingTypeName}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<section class="container-fluid text-center my-5">
    <div class="row d-flex justify-content-center px-3">
        <h2>Fichaje Entrada</h2>
        <div class="alert alert-warning w-50 shadow" role="alert">
            <form action="/user/clockin" class="d-inline" method="post">
                <input name="_csrf" th:value="${_csrf.token}" type="hidden">
                <input name="accion"
                       th:value="${todaySchedule == null  or todaySchedule.entry == null ? 'entrada' : 'salida'}"
                       type="hidden">
                <button class="btn"
                        th:classappend="${todaySchedule == null or todaySchedule.entry == null ? 'btn-primary' : 'btn-danger'}"
                        th:text="${todaySchedule == null or todaySchedule.entry == null ? 'Fichar Entrada' :
                          (todaySchedule.exit == null ? 'Fichar Salida' : 'Jornada Finalizada')}">
                </button>
            </form>
        </div>
    </div>
</section>
<section class="container-fluid text-center my-5" th:if="${hasPause}">
    <div class="row d-flex justify-content-center px-3">
        <h2>Fichaje Pausas</h2>
        <div class="alert alert-warning w-50 shadow" role="alert">
            <form action="/user/clockin" class="d-inline" method="post">
                <input name="_csrf" th:value="${_csrf.token}" type="hidden">
                <input name="accion" type="hidden" value="desayuno">
                <button class="btn btn-primary" th:text="${todaySchedule.pauseEntry == null ? 'Iniciar Pausa Desayuno' :
                        (todaySchedule.pauseExit== null ? 'Finalizar Pausa Desayuno' : 'Pausa Desayuno Realizada')}">
                </button>
            </form>
            <form action="/user/clockin" class="d-inline" method="post">
                <input name="_csrf" th:value="${_csrf.token}" type="hidden">
                <input name="accion" type="hidden" value="comida">
                <button class="btn btn-primary" th:text="${todaySchedule.lunchEntry == null ? 'Iniciar Pausa Comida' :
                        (todaySchedule.lunchExit== null ? 'Finalizar Pausa Comida' : 'Pausa Comida Realizada')}">
                </button>
            </form>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>