<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div aria-hidden="true" aria-labelledby="modalEdit" class="modal fade" data-bs-backdrop="static"
     data-bs-keyboard="false" id="modalEditAdmin" tabindex="-1" th:fragment="modalEditAdmin">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edita el trabajador</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <form id="formEdit" th:action="@{/admin/edit}" th:method="post" th:object="${employee}">
                    <input th:field="*{id}" type="hidden">
                    <input th:field="*{username}" type="hidden">
                    <div class="mb-3">
                        <label class="form-label" for="edit-name">Nombre</label>
                        <input class="form-control" id="edit-name" required th:field="*{name}" type="text">
                        <div class="alert alert-warning" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="edit-surname">Apellido</label>
                        <input class="form-control" id="edit-surname" required th:field="*{surname}" type="text">
                        <div class="alert alert-warning" th:errors="*{surname}"
                             th:if="${#fields.hasErrors('surname')}"></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="edit-departmentId">Departamento</label>
                        <select class="form-control" id="edit-departmentId" name="edit-departmentId"
                                required th:field="*{departmentId}">
                            <option disabled selected value="-1">Seleccione un Departamento</option>
                            <option th:each="dep : ${departments}"
                                    th:text="${dep.name}"
                                    th:value="${dep.id}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="edit-rol">Rol</label>
                        <select class="form-control" id="edit-rol" name="edit-rol" required th:field="*{rolId}">
                            <option disabled selected value="-1">Seleccione un Rol</option>
                            <option th:each="r : ${roles}"
                                    th:text="${r.type}"
                                    th:value="${r.id}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="edit-workingTypeId">Franja horaria</label>
                        <select class="form-control" id="edit-workingTypeId" name="edit-workingTypeId"
                                required th:field="*{workingTypeId}">
                            <option disabled selected value="-1">Seleccione una Franja horaria</option>
                            <option th:each="wt : ${workingTypes}"
                                    th:text="${wt.name}"
                                    th:value="${wt.id}"></option>
                        </select>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" id="edit-enabled" th:field="*{enabled}" type="checkbox">
                        <label class="form-check-label" for="edit-enabled">
                            Usuario habilitado
                        </label>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="edit-password">Nueva Contraseña</label>
                        <input class="form-control" id="edit-password" placeholder="Dejar vacío para no cambiar"
                               th:field="*{password}" type="password">
                        <small class="form-text text-muted">Mínimo 4 caracteres</small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="edit-confirmPassword">Confirmar Nueva Contraseña</label>
                        <input class="form-control" id="edit-confirmPassword"
                               th:field="*{confirmPassword}" type="password">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cerrar</button>
                        <button class="btn btn-primary" type="submit">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>